{% extends 'base.html' %}
{% block content %}
<main>
<div class="container">
    <h3 style="color:#535250;text-align:center;"><strong>Businesses </strong>in {{user.profile.neighborhood}} </h3><br><br>
    {% for business in businesses %}
        <div class="container">
            <div class="card ">
                <div class="card-text text-center" style="padding: 20px;">
                    <p style="font-weight: bold;">{{business.name}}</p>
                    <p>{{business.neighborhood}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</main>
{% endblock %}