{% load bootstrap4 %}
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #535250;color: white;font-family:Arial, Helvetica, sans-serif">

    <!-- Footer Text -->
    <div class="container">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h6 class="text-uppercase "><strong> Neighbourhood watch app</strong>:  stay updated with the latest happenings in your neighbourhood </h6>
          <h5 class="font-weight-bold"><strong> Support</strong>:</h5>
          <h6 ><strong>Email</strong>: msyokimutua@gmail.com<h6>
          <h6><strong> Tel</strong>: 0100-100-01</h6>

          <h6 class="font-weight-bold"><strong>Address</strong>: Nyumbani- Area</h6>
          <h6>Nairobi,Kenya</h6>
  
        </div>
        <!-- Grid column -->
  
        
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3" >
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"><strong> What Is Neighborhood Watch?</strong></h5>
          <p>A neighborhood watch is a group of people living in the same area who want to make their neighborhood safer by working together and in conjunction with local law enforcement to reduce crime and improve their quality of life.</p>
          <hr class="clearfix w-100 d-md-none pb-3">
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> <span style="color: white;">Neighbourhood Watch</span></a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
