<html >

<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Neighbourhoods Watch </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="view intro-2" >
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp home-text" >
          <h1 style="font-family: 'Anton', sans-serif;">Hello! Neighbour</h1>
          <br>
          
          
          <p>The aim of neighborhood watch includes educating residents of a community on security and safety and achieving safe and secure neighborhoods.</p>
          <br>
          <p>However, when a criminal activity is suspected, members are encouraged to report to authorities, and not to intervene.Get updates on occuring </p>
          <h5 style="font-weight: bold;font-size:x-large">SECURITY - EVENTS - CONTACTLIST</h5>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->