{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="padding-top: 100px;">

      <div class="card">
         <div class="card-body" >
            <div class="row" style="padding: 30px;" >
               <div class="col-lg-5">
                  <div class="container">
                     <img src="{{request.user.profile.profile_pic.url}}" alt="{{user.username}}" width="300px" height="300px" style="border-radius: 50%;"><br><br>
                  </div>
               </div>
               <div class="col-lg-7">
                  <small class="text-muted" style="font-weight: bold;">Username:     </small>    
                  <small style="font-weight: bold;">{{user.username}}</small><hr>
                  <small class="text-muted" style="font-weight: bold;">First Name:     </small>    
                  <small style="font-weight: bold;">{{user.profile.first_name}}</small><hr>
                  <small class="text-muted" style="font-weight: bold;">Last Name:      </small>
                  <small style="font-weight: bold;">{{user.profile.last_name}}</small><hr>
                  <small class="text-muted" style="font-weight: bold;">Email:     </small>
                  <small style="font-weight: bold;">{{user.profile.email}}</small><hr>
                  <small class="text-muted" style="font-weight: bold;">Bio</small><br><br>
                  
                  <small >{{user.profile.bio}}</small><hr>
               </div>
            </div>
         </div>
      </div>
  
   <div class="container">
      <div class="main-agileinfo">
         <div class="agileits-top">
            {{form.media}}
            <form  action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
               {%csrf_token%}

               {{form.as_p}}
               <input type="submit" value="update">
            </form>
         </div>
      </div>

   </div><br><br>
  
</div>
<!-- //copyright -->
<ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>

{% endblock %}